div.demo_div0
{
    width: 345px;
    height: 305px;
    outline-width: 0;
    border-style: none;
    background:#e6d0bd;
    color:#fff;
    outline:#000;
    font-family: Courier;
    font-size: 20px;
    white-space: pre-wrap;
    margin-bottom: -20px;
}

button.demo_button0
{
    background-color: #e6d0bd;
    width: 345px;
    height: 305px;
}